nav(class="navbar navbar-dark bg-dark navbar-expand-sm navbar-light bg-light")
    div(class="container-fluid")
        button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse" id="navbarSupportedContent")
            ul(class="navbar-nav me-auto mb-2 mb-lg-0")
                li(class="nav-item"): a(class="nav-link" href="/products") <i class="mdi mdi-package-variant"></i> Produkte
                li(class="nav-item"): a(class="nav-link" href="/cart"): <i class="mdi mdi-cart"></i> Warenkorb
                    if cart.numberOfItems > 0
                        span  (#{cart.numberOfItems})
            form(class="d-flex")
                if user.isAnonymous
                    a(href="/login" class="me-3 btn btn-sm btn-secondary") <i class="mdi mdi-login"></i> Einloggen
                    a(href="/signup" class="me-3 btn btn-sm btn-secondary") <i class="mdi mdi-account-plus"></i> Account anlegen
                else
                    button(type="submit" formaction="/logout" formmethod="POST" class="me-3 btn btn-sm btn-secondary") <i class="mdi mdi-logout"></i> Ausloggen