extends layout

append head
    title Anmeldung

block content
    h1.mb-3 Anmelden

    if error
        div(class="alert alert-danger") #{error}
    else
        if message
            p #{message}
        else
            p Bitte melden Sie sich an.
        p.mb-3 Sie haben noch keinen Account? Hier geht's zur <a href="/signup">Neuanmeldung</a>.
    form(action="/login" method="POST" novalidate)
        div.mb-3
            label(for="name" class="form-label") Name:
            input(id="name" type="text" name="name" class="form-control")
        div.mb-3
            label(for="password" class="form-label") Passwort:
            input(id="password" type="password" name="password" class="form-control")
        div.mb-3
            button(type="submit" class="btn btn-primary") Senden
