extends layout

append head
    title Produkte

block content
    h1(class="mb-3") Produkte

    div(class="row row-cols-1 row-cols-md-2 g-4")
        each product in products
            div(class="col-sm-6")
                div(class="card")
                    div(class="card-body")
                        h5(class="card-title") #{product.name}
                        p(class="card-text") #{product.description}
                        a(class="card-link" href=`/product/${product.id}`) Anschauen
