extends layout

block content
    h1(class="mb-3") #{product.name}
    p #{product.description}
    p #{product.price} Euro
    form(action="/cart" method="POST")
        input(type="text" class="d-none" value=product.id name="productId")
        button(type="submit" class="btn btn-sm btn-primary") In den Warenkorb