extends layout

append head
    title Konto erstellen

block content
    h1.mb-3 Einen Account erstellen

    p.mb-3 Bitte geben Sie einen Benutzernamen und ein Passwort ein, um einen neuen Account zu erstellen.

    p.mb-3 Wenn Sie schon einen Account haben, geht's hier zur <a href="/login">Anmeldung</a>.

    form(action="/signup" method="POST" novalidate)
        div.mb-3
            label(for="name" class="form-label") Name:
            input(id="name" type="text" name="name" class="form-control")
        div.mb-3
            label(for="password" class="form-label") Passwort:
            input(id="password" type="password" name="password" class="form-control")
        div.mb-3
            label(for="password-repeat" class="form-label") Passwort wiederholen:
            input(id="password-repeat" type="password" name="password-repeat" class="form-control")
        div.mb-3
            button(type="submit" class="btn btn-primary") Senden