extends layout

append head
    title Konto erstellen

block content
    h1.mb-3 Einen Account erstellen

    p.mb-3 Bitte geben Sie einen Benutzernamen und ein Passwort ein, um einen neuen Account zu erstellen.

    p.mb-3 Wenn Sie schon einen Account haben, geht's hier zur <a href="/login">Anmeldung</a>.

    form(action="/signup" method="POST" novalidate)
        div.mb-3
            div(class="input-group")
                span(class="input-group-text")
                    i(class="mdi mdi-account")
                input(id="name" type="text" name="name" class="form-control" placeholder="Benutzername")
        div.mb-3
            div(class="input-group")
                span(class="input-group-text")
                    i(class="mdi mdi-key")
                input(id="password" type="password" name="password" class="form-control" placeholder="Passwort")
        div.mb-3
            div(class="input-group")
                span(class="input-group-text")
                    i(class="mdi mdi-key")
                input(id="password-repeat" type="password" name="password-repeat" class="form-control" placeholder="Passwort wiederholen")
        div.mb-3
            button(type="submit" class="btn btn-primary") Senden